@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;

.filters__primary {
  position: relative;
  padding: 1rem 1.5rem;
  font-size: 0.875rem;
  color: var(--color400);
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

.filters__secondary {
  position: absolute;
  inset: 4rem 0 auto 0;
  display: flex;
  justify-content: center;
  gap: 18px;
  font-size: 1rem;
  background-color: var(--color000);
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;

  @include responsive(tablet) {
    position: static;
    justify-content: space-between;
    font-size: inherit;
    background-color: none;
    padding: 0;
    box-shadow: none;
  }
}

.filter__item {
  cursor: pointer;
}

.filter__item:hover {
  color: var(--color500);
}

.filter__item--active {
  color: var(--primary-blue);
}
