@use '../mixins/responsive.scss' as *;

.main {
  width: min(87%, 540px);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 48px;

  @include responsive(tablet) {
    top: 70px;
  }
}
