:root {
  --primary-blue: hsl(220, 98%, 61%);
  --gradient: linear-gradient(hsl(192, 100%, 67%) to hsl(280, 87%, 65%));

  // LIGHT THEME
  --color000: hsl(0, 0%, 100%);
  --color100: hsl(0, 0%, 98%);
  --color200: hsl(236, 33%, 92%);
  --color300: hsl(233, 11%, 84%);
  --color400: hsl(236, 9%, 61%);
  --color500: hsl(235, 19%, 35%);
  --mobile-bg: url('/public/images/bg-mobile-light.jpg');
  --desktop-bg: url('/public/images/bg-desktop-light.jpg');
}

.dark {
  --color100: hsl(235, 21%, 11%);
  --color000: hsl(235, 24%, 19%);
  --color200: hsl(237, 14%, 26%);
  --color300: hsl(233, 14%, 35%);
  --color400: hsl(234, 11%, 52%);
  --color500: hsl(234, 39%, 85%);
  --mobile-bg: url('/public/images/bg-mobile-dark.jpg');
  --desktop-bg: url('/public/images/bg-desktop-dark.jpg');
}
